<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghiblmi Films: {{ title }}</title>
    <link href="{{ url_for('static',filename='styles/films.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Ghiblmi</h1>
    <h2><a href="{{ url_for('index') }}">Home</a> <a href="{{ url_for('about_page') }}">About</a> <a href="{{ url_for('search_page') }}">Search</a></h2>
    <img src={{ url }} alt={{ title }}>
    <h3>{{ title }}</h3>
    <p2>{{ release_date }}</p2><br>
    <p>{{ description }}</p>
    <h4> &nbsp; <br> &nbsp; </h4>

</body>
</html>